
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    padding-top: 65px;
    padding-bottom: 0px;
    background-color: #f3f3f2;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    color: #333;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    text-align: middle;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="radio"] {
    width: auto;
    padding: 0;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

p{
    margin: 5px;
}




.radio-group {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 15px;
}

.radio-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.radio-option label {
    max-width: none;
    margin: 0;
}

.radio-option input[type="radio"] {
    margin: 0;
}

textarea {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
    min-height: 100px;
}

input:focus {
    outline: none;
    border-color: #4a5ba8;
    box-shadow: 0 0 5px#4a5ba8;
}

textarea:focus {
    outline: none;
    border-color: #4a5ba8;
    box-shadow: 0 0 5px#4a5ba8;
}

button {
    padding: 10px 20px;
    background-color: #5c68a1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4a5ba8;
}



.row {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}
.row label {
  margin: 0 5px;
}

.small {
    padding-block: 1px;
    padding-inline: 10px;
}

.header {
    background-color: #acb4d9;
    display: flex;
    align-items: center;
    gap: 15px; 
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.header div {
    margin-bottom: 0;
  
}
.header a {
   background-color: #acb4d9;
   color: black;
   text-decoration: none;
}

 a:hover {
    font-weight: bold;
}

.header h3 {
    text-align: center;

}

.header .login{
    margin-left: auto;
}

.header p{
    color: black;
    margin: 0;
}

.footer {
    padding: 10px;
    text-align: center;
    background-color: #4a5ba8;
    margin: 0;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.home p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin-top: 15px;
}

.loginAdmin {
    color: white;
    background-color: #1d254d;
}

.loginAdmin h1 {
    color: white;
}


.loginAdmin input {
    background-color: #2a3a5d;
    color: white;
    border: 1px solid white;
}

.loginAdmin label {
    color: white;
}

.loginAdmin button {
    background-color: #0f4c75;
    color: white;
}

.loginAdmin button:hover {
    background-color: #0c3b5a;
    color: white;
}