<!-- Simple confirmation page after successful application. -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Application Successful</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div th:insert="header :: header"></div>
    <h1>Application Sent!</h1>
    <p>Thank you for you application!</p>
    <p>
      We are now going to go over your application and get back to you as soon
      as possible!
    </p>
    <div class="row" style="margin-top: 20px;">
      <a a href="/userPage" style="text-decoration: none; color: black;">&#8592;</a>
      <a href="/userPage" style="text-decoration: none; color: black;">Go back to my applications</a>
    </div>

    <div th:insert="footer :: footer"></div>
  </body>
</html>
