<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout('Login Admin', ~{::body})">
  <body style="background-color: #1d254d">
    <div class="loginAdmin" >
      <h1>Login for Recruiters</h1>
        <!--changed the post endpoint -->
      <form th:action="@{/admin/login}" method="post"
        th:object="${loginAdmin}">
        <!-- 
      <form method="post" th:object="${loginAdmin}" action="/loginAdmin">
      -->
        <div
          th:replace="fragments :: field('Username', 'username', 'text')"></div>
        <div
          th:replace="fragments :: field('Password', 'password', 'password')"></div>
        <div th:if="${param.error}">
          <p style="color: rgb(255, 0, 0)">Invalid username or password</p>
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
