<!-- Registration form. Use reusable fragments (HGP 27) and client-side validation (HGP 26) where appropriate. -->

<!DOCTYPE html>
<html>
    
    <head>
        <title>Register account</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body >
        <h1>
            Register your account
        </h1>
        <p>
            <input type="text" placeholder="First name"/>
        </p>
        <p> 
            <input type="text" placeholder="Last name"/>
        </p>
        <p> 
            <input type="text" placeholder="Person number"/>
        </p>
        <p>
            <input type="email" placeholder="Email address"/>
        </p>
        <p>
            <input type="email" placeholder="Confirm email"/>
        </p>
        <p>
            <input type="password" placeholder="Password"/>
        </p>
        <p>
            <input type="password" placeholder="Confirm password"/>
        </p>
        <p>
            <button>Submit</button>
        </p>

    </body>
</html>