<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout('Registration Successful', ~{::body})">
  <body>
    <h1>Thank you for registering an account</h1>
    <div
      style="
        max-width: 300px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
      ">
      <p style="font-size: large">Go to login</p>
      <a
        style="text-decoration: none; color: black; font-size: 40px"
        href="/loginPage"
        >&#8592;</a
      >
    </div>
  </body>
</html>
