services:
  db:
    image: postgres:13
    container_name: iv1201-db
    environment:
      POSTGRES_DB: recruitment
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d